body {
  font-family: var(--fontFamily);
  color: var(--primaryTextDark);
  background-color: var(--primaryLightThemeBgColor);
  // -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  // font-style: normal;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.lock {
  overflow: hidden;
}

textarea {
  resize: none;
  outline: none;
}

input,
button {
  outline: none;
}

.icon {
  fill: currentColor;
}
