body {
  font-family: var(--fontFamily);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 400;
  color: var(--primaryTextDark);
  background-color: var(--primaryLightThemeBgColor);
  -webkit-tap-highlight-color: transparent;

  // &.show-modal {
  //   overflow: hidden;
  // }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.lock {
  overflow: hidden;
}

.icon {
  fill: currentColor;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
}
