// Шрифт
@function decimal-round($number, $digits: 0, $mode: round) {
  $n: 1;
  // $number must be a number
  @if type-of($number) != number {
    @warn '#{ $number } is not a number.';
    @return $number;
  }
  // $digits must be a unitless number
  @if type-of($digits) != number {
    @warn '#{ $digits } is not a number.';
    @return $number;
  } @else if not unitless($digits) {
    @warn '#{ $digits } has a unit.';
    @return $number;
  }
  @if $digits > 0 {
    @for $i from 1 through $digits {
      $n: $n * 10;
    }
  }
  @if $mode == round {
    @return round($number * $n) / $n;
  } @else if $mode == ceil {
    @return ceil($number * $n) / $n;
  } @else if $mode == floor {
    @return floor($number * $n) / $n;
  } @else {
    @warn '#{ $mode } is undefined keyword.';
    @return $number;
  }
}

@mixin font($fs: null, $lh: null, $fw: null, $ls: null) {
  font-size: $fs;
  line-height: $lh;

  font-weight: $fw;
  letter-spacing: $ls;
}

// Флекс
@mixin flex($dflex: flex, $aligni: center, $justc: center) {
  display: $dflex;
  justify-content: $justc;
  align-items: $aligni;
}

// Медиа запросы
@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin retinabg {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: (192dpi)),
    (min-resolution: (2dppx)) {
    @content;
  }
}
