:root {
  //  Шрифты
  --fontFamily: Roboto, sans-serif;

  // Цвет акцент
  --accentBtnColor: #ff6b02;
  --accentTextColor: #ff6b08;
  --notificationTextColor: #ff001b;

  // Цвет текста
  --primaryTextDark: #000000;
  --primaryTextLight: #ffffff;
  --secondaryTextColor: #545454;
  --secondaryTextDetailsColor: #8c8c8c;

  // Цвет фона
  --primaryLightThemeBgColor: #ffffff;
  --secondaryLightThemeBgColor: #f7f7f7;
  --bg-select: #ffffff;
  --headerGradientColor: rgba(0, 0, 0, 0.56);

  // TimingFunction
  --timingFunction: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
