<div class="header__trending trending">
  <div class="trending__btn" role="group">
    <input
      id="day"
      type="radio"
      name="trending-time-window"
      value="day"
      class="trending__input visually-hidden"
      checked
    />
    <label for="day" class="trending__label">Day</label>
  </div>
  <div class="trending__btn" role="group">
    <input
      id="week"
      type="radio"
      name="trending-time-window"
      value="week"
      class="trending__input visually-hidden"
    />
    <label for="week" class="trending__label">Week</label>
  </div>
</div>
