<footer class="footer">
  <div class="footer-container container">
    <p class="footer-text ft-part-one">&copy; 2022 | All Rights Reserved |</p>
    <div class="ft-part-two">
      <p class="footer-text">
        Developed with
        <svg width="24" height="13" class="icon-heart">
          <use href="./images/sprite.svg#icon-heart"></use>
        </svg>
        <span class="footer-text"
          >by <a class="footer-link">GoIT Students</a></span
        >
      </p>
    </div>
  </div>
</footer>
