<header class="header header--home">
  <div class="container">
    <nav class="navigation">
      <div class="navigation__logo">
        <h1 class="visually-hidden">Filmoteka</h1>
        <a class="navigation__link" href="#"
          ><svg width="24" height="24">
            <use href="./images/sprite.svg#icon-logo"></use>
          </svg>
          <!-- <span class="navigation__name anime-text-logo">Filmoteka</span> -->

          <svg class="logo__text" viewBox="0 0 700 160">
            <symbol id="s-text">
              <text text-anchor="middle" x="50%" y="80%">Filmoteka</text>
            </symbol>

            <g class="g-ants">
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
            </g>
          </svg>
        </a>
      </div>
      <div class="navigation__actions">
        <a class="navigation__page current lang-home js-home" href="#">Home</a>
        <a class="navigation__page lang-library js-library" href="#">Library</a>
      </div>
      <include src="./partials/btn-auth.html"></include>
    </nav>

    <include src="./partials/search-header.html"></include>
    <include src="./partials/btn-library.html"></include>

    <include src="./partials/btn-trending.html"></include>

    <div class="header__panel">
      <include src="./partials/theme-switcher.html"></include>
      <include src="./partials/change-language.html"></include>
    </div>
  </div>
</header>
