<header class="header header--home">
  <div class="container">
    <nav class="navigation">
      <div class="navigation__logo">
        <a href=""
          ><svg width="24" height="24">
            <use href="./images/sprite.svg#icon-logo"></use>
          </svg>
          <span class="navigation__name anime-text-logo">Filmoteka</span></a
        >
        <!-- <svg class="qwe" viewBox="0 0 960 300">
    <symbol id="s-text">
      <text text-anchor="middle" x="50%" y="80%">Filmoteka</text>
    </symbol>

    <g class = "g-ants">
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
     
    </g>
  </svg> -->
      </div>
      <div class="navigation__actions">
        <a class="navigation__page current js-home" href="#">Home</a>
        <a class="navigation__page js-library" href="#">Library</a>
      </div>
    </nav>

    <include src="./partials/search-header.html"></include>
    <include src="./partials/btn-library.html"></include>

    <div class="header__info"></div>
  </div>
</header>
