<div class="team-modal is-hidden">
  <div class="tm-content">
    <div class="tm-header-container">
      <h2 class="tm-header">
        <span class="lang-group">Group</span><span class="tm-number">13</span>
      </h2>
    </div>
    <button type="button" class="tm-close-btn">
      <svg width="13" height="13" class="tm-exit">
        <use href="./images/sprite.svg#icon-exit"></use>
      </svg>
    </button>
    <div class="tm-body">
      <ul class="tm-members">
        <li class="tm-members-item">
          <a
            class="member-link"
            target="_blank"
            href="https://github.com/Nejdancs"
            ><img src="./images/team/Sergey_Korobka.jpg" class="member-image"
          /></a>
          <p class="member-name lang-serg">Sergey Korobka</p>
          <p class="member-position lang-lead">Team Lead</p>
        </li>

        <li class="tm-members-item">
          <a
            class="member-link"
            target="_blank"
            href="https://github.com/MariaK1506"
            ><img src="./images/team/Maria_Kolisnyk.jpg" class="member-image"
          /></a>
          <p class="member-name lang-maria">Maria Kolisnyk</p>
          <p class="member-position lang-scrum">Scrum Master</p>
        </li>

        <li class="tm-members-item">
          <a
            class="member-link"
            target="_blank"
            href="https://github.com/iSIayer"
            ><img
              src="./images/team/Ihor_Kolontaievskiy.jpg"
              class="member-image"
          /></a>
          <p class="member-name lang-ihork">Ihor Kolontaievskiy</p>
          <p class="member-position lang-dev1">Developer</p>
        </li>

        <li class="tm-members-item">
          <a
            class="member-link"
            target="_blank"
            href="https://github.com/Petr-Mazka"
            ><img src="./images/team/Petr_Mazka.jpg" class="member-image"
          /></a>
          <p class="member-name lang-petr">Petr Mazka</p>
          <p class="member-position lang-dev2">Developer</p>
        </li>

        <li class="tm-members-item">
          <a
            class="member-link"
            target="_blank"
            href="https://github.com/TetianaDoroshko"
            ><img src="./images/team/Tetiana_Doroshko.jpg" class="member-image"
          /></a>
          <p class="member-name lang-tetiana">Tetiana Doroshko</p>
          <p class="member-position lang-dev3">Developer</p>
        </li>

        <li class="tm-members-item">
          <a
            class="member-link"
            target="_blank"
            href="https://github.com/lifeofscarlet99"
            ><img src="./images/team/Anastasia_Slezko.jpg" class="member-image"
          /></a>
          <p class="member-name lang-anast">Anastasia Slezko</p>
          <p class="member-position lang-dev4">Developer</p>
        </li>

        <li class="tm-members-item">
          <a
            class="member-link"
            target="_blank"
            href="https://github.com/lilempuh"
            ><img
              src="./images/team/Liliia_Kostiurenko.jpg"
              class="member-image"
          /></a>
          <p class="member-name lang-liliia">Liliia Kostiurenko</p>
          <p class="member-position lang-dev5">Developer</p>
        </li>

        <li class="tm-members-item">
          <a
            class="member-link"
            target="_blank"
            href="https://github.com/IhorAlexsovich"
            ><img src="./images/team/Ihor_Alexsovich.jpg" class="member-image"
          /></a>
          <p class="member-name lang-ihora">Ihor Alexsovich</p>
          <p class="member-position lang-dev6">Developer</p>
        </li>

        <li class="tm-members-item">
          <a
            class="member-link"
            target="_blank"
            href="https://github.com/dn090884vvm"
            ><img
              src="./images/team/Vladimir_Vashchenko.jpg"
              class="member-image"
          /></a>
          <p class="member-name lang-vladim">Vladimir Vashchenko</p>
          <p class="member-position lang-dev7">Developer</p>
        </li>
      </ul>
    </div>
  </div>
</div>
