<!-- <div class="backdrop js-modal-film-details">
  <div class="modal">
    <button type="button" class="btn-close"></button>

    <div class="modal__content">
      <img class="modal__img" srcset="" src="" sizes="100%" alt="" />
      <div class="modal__description">
        <h2 class="modal__title">Movie Title</h2>
        <div class="modal__rate">
          <p class="modal__descr">Vote / Votes</p>
          <p><span class="accent">100</span> / 100</p>
          <p class="modal__descr">Popularity</p>
          <p>popularity</p>
          <p class="modal__descr">Original Title</p>
          <p class="modal__orig-title">Movie original Title</p>
          <p class="modal__descr">Genre</p>
          <p>genres</p>
        </div>
        <h3 class="modal__about">About</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis quam
          id optio dolores at ut neque perferendis beatae earum sunt?
        </p>
      </div>
    </div>
    <div class="modal__buttons">
      <button type="button" class="button modal__btn js-add-to-watched">
        Add to watced
      </button>
      <button type="button" class="button modal__btn js-add-to-queue">
        Add to queue
      </button>
    </div>
  </div>
</div> -->
