<div class="team-modal visually-hidden">
    <div class="tm-content">
        <div class="tm-header-container"><h2 class="tm-header">Group<span class="tm-number">13</span></h2></div>
        <button type="button" class="tm-close-btn"><svg width="13" height="13" class="tm-exit"><use href="./images/sprite.svg#icon-exit"></use></svg></button>
        <div class="tm-body">
            <ul class="tm-members">

                <li class="tm-members-item">
                    <a class="member-link"><div class="member-image"></div></a>
                    <p class="member-name">Placeholder</p>
                    <p class="member-position">Placeholder</p>
                </li>

                <li class="tm-members-item">
                    <a class="member-link"><div class="member-image"></div></a>
                    <p class="member-name">Placeholder</p>
                    <p class="member-position">Placeholder</p>
                </li>

                <li class="tm-members-item">
                    <a class="member-link"><div class="member-image"></div></a>
                    <p class="member-name">Placeholder</p>
                    <p class="member-position">Placeholder</p>
                </li>

                <li class="tm-members-item">
                    <a class="member-link"><div class="member-image"></div></a>
                    <p class="member-name">Placeholder</p>
                    <p class="member-position">Placeholder</p>
                </li>

                <li class="tm-members-item">
                    <a class="member-link"><div class="member-image"></div></a>
                    <p class="member-name">Placeholder</p>
                    <p class="member-position">Placeholder</p>
                </li>

                <li class="tm-members-item">
                    <a class="member-link"><div class="member-image"></div></a>
                    <p class="member-name">Placeholder</p>
                    <p class="member-position">Placeholder</p>
                </li>

                <li class="tm-members-item">
                    <a class="member-link"><div class="member-image"></div></a>
                    <p class="member-name">Placeholder</p>
                    <p class="member-position">Placeholder</p>
                </li>

                <li class="tm-members-item">
                    <a class="member-link"><div class="member-image"></div></a>
                    <p class="member-name">Placeholder</p>
                    <p class="member-position">Placeholder</p>
                </li>

                <li class="tm-members-item">
                    <a class="member-link"><div class="member-image"></div></a>
                    <p class="member-name">Placeholder</p>
                    <p class="member-position">Placeholder</p>
                </li>
            </ul>
        </div>
    </div>
</div>