<!-- <div class="pagination"></div> -->
<div class="container">
  <div class="pagination">
    <ul class="pagination__list">
      <li class="button pagination__item">
        <svg class="button__icon" width="16" height="16">
          <use href="./images/sprite.svg#arrow-right"></use>
        </svg>
      </li>
      <li class="pagination__item hidden">
        <a class="pagitation__link" href="#"></a>1
      </li>
      <li class="pagination__item hidden">
        <a class="pagitation__link" href="#"></a>...
      </li>
      <li class="pagination__item">
        <a class="pagitation__link" href="#"></a>13
      </li>
      <li class="pagination__item">
        <a class="pagitation__link" href="#"></a>14
      </li>
      <li class="active pagination__item">
        <a class="pagitation__link" href="#"></a>15
      </li>
      <li class="pagination__item">
        <a class="pagitation__link" href="#"></a>16
      </li>
      <li class="pagination__item">
        <a class="pagitation__link" href="#"></a>17
      </li>
      <li class="pagination__item hidden">
        <a class="pagitation__link" href="#"></a>...
      </li>
      <li class="pagination__item hidden">
        <a class="pagitation__link" href="#"></a>20
      </li>
      <li class="button pagination__item">
        <svg width="16" height="16">
          <use href="./images/sprite.svg#arrow-left"></use>
        </svg>
      </li>
    </ul>
  </div>
</div>
