<!-- <div class="pagination"></div> -->
<div class="container">
  <div class="pagination">
    <!-- <ul class="pagination__list">
      <li class="button prev pagination__item"></li>
      <li class="pagination__item first hidden">
        <a class="pagitation__link" href="#"></a>1
      </li>
      <li class="pagination__item prevMore hidden">
        <a class="pagitation__link" href="#"></a>...
      </li>

      <li class="pagination__item">
        <a class="pagitation__link" href="#"></a>13
      </li>
      <li class="pagination__item">
        <a class="pagitation__link" href="#"></a>14
      </li>
      <li class="active pagination__item">
        <a class="pagitation__link" href="#"></a>15
      </li>
      <li class="pagination__item">
        <a class="pagitation__link" href="#"></a>16
      </li>
      <li class="pagination__item">
        <a class="pagitation__link" href="#"></a>17
      </li>
      <li class="pagination__item nextMore hidden">
        <a class="pagitation__link" href="#"></a>...
      </li>
      <li class="pagination__item last hidden">
        <a class="pagitation__link" href="#"></a>20
      </li>
      <li class="button next pagination__item"></li>
    </ul> -->
  </div>
</div>
