.backdrop {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  transition: opacity var(--timingFunction), visibility var(--timingFunction);

  background-color: rgba(0, 0, 0, 0.4);

  overflow-y: auto;

  @include tablet {
    padding-top: 219px;
  }
  @include desktop {
    padding-top: 150px;
  }
}
.backdrop.is-hidden {
  display: none;
}
