// .header__buttons {
//   margin: 0 auto;
//   @include flex(flex, center, center);
// }
// .header__btn {
//   border: 1px solid #ffffff;
//   color: #ffffff;
//   width: 130px;
//   @include tablet {
//     width: 150px;
//   }
// }
// .header__btn:not(:last-child) {
//   margin-right: 20px;
// }
.Buttons-container {
  display: flex;
  margin-top: 61px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    margin-top: 51px;
  }
}

.Main-btn {
  cursor: pointer;
  text-transform: uppercase;
  color: var(--primaryTextLight);
  padding: 0;
  width: 130px;
  height: 44px;

  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: inherit;

  transition: background-color var(--timingFunction),
    border-color var(--timingFunction), transform var(--timingFunction);

  &:hover {
    transform: scale(115%);
  }
  &:not(:first-child) {
    margin-left: 20px;
    @media screen and (min-width: $tablet) {
      margin-left: 15px;
    }
  }
  @media screen and (min-width: $tablet) {
    width: 136px;
    height: 44px;
  }
}

.Main-btn--current:focus {
  transition: border var(--timingFunction);
  border: 1px solid var(--accentBtnColor);
  background-color: var(--accentBtnColor);
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  color: var(--accentBtnColor);
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid var(--accentBtnColor);

  cursor: pointer;
  transition: color var(--timingFunction),
    background-color var(--timingFunction);

  &:hover,
  &:focus {
    color: var(--primaryTextLight);
    background-color: var(--accentBtnColor);
  }
}
