.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  @include tablet {
    margin-top: 40px;
  }
}

.library-btn {
  &.active,
  &:focus,
  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    filter: drop-shadow(0px 8px 25px rgba(255, 107, 1, 0.6));
  }

  &:not(:first-child) {
    margin-left: 20px;
    @include tablet {
      margin-left: 15px;
    }
  }
}
