.modal {
  @include centrFlex;

  align-items: start;

  @media screen and (max-width: 767px) {
    padding: 20px 20px;
  }

  @include tablet {
    align-items: center;

    @media screen and (max-height: 578px) {
      align-items: start;
    }
  }
}

.modal::before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-image: var(--defaultBackdrop);
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}

.modal.is-hidden .modal-wrapper {
  transform: scale(1.1);
}

.modal-wrapper {
  position: relative;
  padding: 48px 20px 40px 20px;
  width: 100%;
  border: 1px solid var(--primaryTextDark);

  background-color: var(--primaryLightThemeBgColor);
  transition: transform var(--timingFunction);

  @include mobile {
    width: 440px;
  }

  @include tablet {
    width: 704px;
    padding: 40px 72px 40px 36px;
  }

  @include desktop {
    width: 806px;
    padding: 40px 12px;
  }
}

.modal-btn {
  @include centrFlex;

  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  background-color: transparent;
  cursor: pointer;
  transition: color var(--timingFunction);

  &:hover {
    color: var(--accentBtnColor);
  }
}

.modal__icon {
  right: 8px;
  top: 8px;
  font-size: 26px;
  color: var(--primaryTextDark);

  &:hover,
  &:focus {
    color: #ff6b08;
  }
  margin: auto;
}

.image-wrapper {
  position: relative;
}

.trailer-btn {
  @include centrFlex;

  position: absolute;

  top: 8px;
  left: 8px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

.film-details {
  @include tablet {
    @include flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.film-details__wrapper {
  @include tablet {
    width: 260px;
  }

  @include desktop {
    width: 391px;
  }
}

.film-details__image {
  width: 440px;
  height: auto;
  min-height: 374px;
  border-radius: 5px;
  flex-shrink: 0;
  object-fit: cover;

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }

  @include tablet {
    width: 264px;
    height: 374px;
  }

  @include desktop {
    width: 375px;
    height: 478px;
  }
}

.film-details__title {
  margin-bottom: 20px;

  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1.17;
  text-transform: uppercase;

  @include desktop {
    font-size: 30px;
  }
}

.film-details__list {
  margin-bottom: 20px;
}

.film-details__item {
  @include flex;
  margin-bottom: 8px;
}

.film-details__text {
  width: 110px;
  margin-right: 10px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--secondaryTextDetailsColor);
  flex-shrink: 0;

  &:last-child {
    margin-bottom: 0;
  }

  @include desktop {
    min-width: 152px;
  }
}

.film-details__span {
  @include centrFlex;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  &--accent {
    width: 36px;
    height: 16px;
    margin-right: 2px;

    background-color: var(--accentBtnColor);
    color: var(--primaryTextLight);
    border-radius: 5px;
  }

  &--noaccent {
    width: 36px;
    height: 16px;
    margin-left: 2px;

    background-color: var(--primaryLightThemeBgColor);
    color: var(--primaryTextDark);
    border-radius: 5px;
  }
}

.film-details__about {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--primaryTextDark);
}

.film-details__overview {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: var(--primaryTextDark);
}

.film-details-btn__list {
  display: flex;
  justify-content: center;
  @media screen and(max-width:360px) {
    flex-direction: column;
    align-items: center;
  }

  @include tablet {
    justify-content: space-between;
  }

  @include desktop {
    justify-content: flex-start;
  }
}

.film-details-btn__item {
  &:last-child {
    @media screen and(min-width:361px) {
      margin-left: 20px;
    }

    @media screen and(max-width:360px) {
      margin-top: 10px;
    }

    @include tablet {
      margin-left: 0;
    }

    @include desktop {
      margin-left: 15px;
    }
  }
}

.film-details-btn {
  width: 130px;
  min-height: 44px;

  @include font(12px, 1.33, 500);
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  color: var(--primaryTextDark);
  background-color: var(--primaryLightThemeBgColor);
  cursor: pointer;
  border: 1px solid var(--primaryTextDark);

  transition: background-color var(--timingFunction),
    border-color var(--timingFunction), color var(--timingFunction),
    box-shadow var(--timingFunction);

  &.active,
  &:focus,
  &:hover {
    border-color: var(--accentBtnColor);
    background-color: var(--accentBtnColor);
    color: #ffffff;
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  }

  @media screen and(max-width:360px) {
    width: 160px;
  }

  @include tablet {
    width: 125px;
  }
  @include desktop {
    width: 136px;
  }
}
