.modal {
  @include centrFlex;

  position: fixed;
  padding: 20px 20px 48px 20px;
  top: 0;
  left: 0;
  // opacity: 0;
  width: 100vw;
  height: 100vh;

  overflow-y: auto;

  @media screen and (max-width: 767px) {
    align-items: flex-start;
  }
}

// .modal.is-open {
//   opacity: 1;
// }

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: #000000;
  opacity: 0.25;
}

.modal-wrapper {
  position: relative;
  padding: 48px 20px 40px 20px;
  width: 280px;

  background-color: #ffffff;

  @include tablet {
    width: 704px;
    padding: 40px 72px 40px 36px;
  }

  @include desktop {
    width: 806px;
    padding: 50px 12px 40px 12px;
  }
}

.modal-btn {
  @include centrFlex;

  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  // padding: 8px;

  background-color: transparent;
  cursor: pointer;
  transition: color var(--timingFunction);

  &:hover {
    color: var(--accentBtnColor);
  }
}

.modal__icon {
  right: 8px;
  top: 8px;
  font-size: 26px;

  &:hover,
  &:focus {
    color: #ff6b08;
  }
  margin: auto;
}

.film-details {
  @include tablet {
    @include flex;
    align-items: flex-start;
  }
}

.film-details__image {
  width: 240px;
  height: 357px;
  border-radius: 5px;

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }

  @include tablet {
    width: 264px;
    height: 374px;
    margin-right: 68px;
  }

  @include desktop {
    width: 375px;
    height: 478px;
    margin-right: 16px;
  }
}

.film-details__title {
  margin-bottom: 20px;

  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1.17;
  text-transform: uppercase;

  @include desktop {
    font-size: 30px;
  }
}

.film-details__list {
  margin-bottom: 20px;
}

.film-details__item {
  @include flex;
  margin-bottom: 8px;
}

.film-details__text {
  min-width: 109px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--secondaryTextDetailsColor);

  &:last-child {
    margin-bottom: 0;
  }

  @include desktop {
    min-width: 152px;
  }
}

.film-details__span {
  @include centrFlex;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  &--accent {
    width: 36px;
    height: 16px;
    margin-right: 2px;

    background-color: var(--accentBtnColor);
    color: var(--primaryTextLight);
    border-radius: 5px;
  }

  &--noaccent {
    width: 36px;
    height: 16px;
    margin-left: 2px;

    background-color: var(--primaryLightThemeBgColor);
    color: var(--primaryTextDark);
    border-radius: 5px;
  }
}

.film-details__about {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--primaryTextDark);
}

.film-details__overview {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: var(--primaryTextDark);
}
