.team-modal {
  transition: var(--timingFunction);
}

.tm-content {
  width: 260px;
  background-color: var(--primaryLightThemeBgColor);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(60deg, #ff6b02, #ff001b);

  @include mobile {
    width: 392px;
    padding-bottom: 20px;
  }
  @include tablet {
    width: 660px;
    padding-bottom: 28px;
  }
  @include desktop {
    width: 944px;
    padding-bottom: 40px;
  }
}

.tm-header {
  width: 100%;
  @include centrFlex;

  font-size: 18px;
  font-weight: bold;

  color: var(--primaryTextDark);
  font-weight: bold;
  padding: 5px;

  @include mobile {
    font-size: 22px;
  }
  @include tablet {
    font-size: 30px;
  }
  @include desktop {
    font-size: 40px;
  }
}

.tm-number {
  color: var(--accentTextColor);
  padding: 5px;
  padding-left: 0;
  font-weight: bold;
}

.tm-header-container {
  margin-top: 0px;
  margin-bottom: 10px;
  @include mobile {
    margin-bottom: 15px;
  }
  @include tablet {
    margin-bottom: 20px;
    margin-top: 15px;
  }
  @include desktop {
    margin-top: 25px;
  }
}

.tm-close-btn {
  @include centrFlex;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: #000 solid 1px;
  transition: var(--timingFunction);
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: var(--accentBtnColor);
    fill: #fff;
  }
}

.tm-body {
  @include centrFlex;
  width: 100%;
}

.tm-members {
  @include centrFlex;
  flex-wrap: wrap;
}

.tm-members-item {
  @include centrFlex;
  flex-direction: column;
  width: 114px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  @include mobile {
    width: 120px;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    &:nth-child(n + 7) {
      margin-bottom: 0;
    }
  }
  @include tablet {
    &:not(:last-child) {
      margin-bottom: 22px;
    }
    &:nth-child(n + 6) {
      margin-bottom: 0;
    }
    width: 125px;
  }
  @include desktop {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &:nth-child(n + 6) {
      margin-bottom: 0;
    }
    width: 180px;
  }
}

.member-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--accentTextColor);
  transition: transform 0.35s;
  &:hover {
    transform: scale(1.2);
  }
  @include mobile {
    width: 45px;
    height: 45px;
  }
  @include tablet {
    width: 60px;
    height: 60px;
  }
  @include desktop {
    width: 90px;
    height: 90px;
  }
}

.member-link {
  margin-bottom: 5px;
  @include tablet {
    margin-bottom: 10px;
  }
}

.member-name {
  font-size: 11px;
  font-weight: normal;
  color: var(--primaryTextDark);
  margin-bottom: 2px;
  @include tablet {
    font-size: 12px;
  }
  @include desktop {
    font-size: 17px;
  }
}

.member-position {
  font-size: 10px;
  font-weight: bold;
  color: var(--primaryTextDark);
  @include tablet {
    font-size: 12px;
  }
  @include desktop {
    font-size: 16px;
  }
}
