.error-modal {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -200%);
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 300px;
  padding: 7px 7px;
  border: 1px solid transparent;
  border-radius: 5px;
  
  text-align: center;
  background: linear-gradient(
    340deg,
    rgb(78, 34, 47) 14%,
    rgb(159, 5, 22) 32%,
    rgb(35, 47, 56) 90%
  );
 
  cursor: pointer;

  @include tablet {
    padding: 12px;
    width: 370px;
   
  }
  @include desktop {
    padding: 15px;
    width: 500px;
  }
}

.error-modal__text {
  color: var(--primaryTextLight);
  @include font(12px, 1.2, 400, null);
  @include tablet {
    @include font(15px, 1.2, 400, null);
  }
  @include desktop {
    @include font(17px, 1.2, 500, null);
  }
}

// Style to beautiful show/hide modal-error

.windov-modal.show-hide .error-modal {
  animation: anim 3000ms linear;
}


@keyframes anim {
  0% {
    transform: translate(-50%, -200%);
  }
  10% {
    transform: translate(-50%, 0);
  }
  90% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, -200%);
  }
}
