.pagination {
  user-select: none;
  margin-top: 40px;

  @include tablet {
    margin-top: 60px;
  }
}
.pagination__list {
  @include flex($dflex: flex, $aligni: null, $justc: center);
}

.pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: 8px;
  min-width: 40px;
  color: var(--primaryTextDark);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  cursor: pointer;
}

.pagination__link {
  color: inherit;
  pointer-events: none;
}

.pagination .button {
  width: 40px;
  height: 40px;
  background: #f7f7f7;
  border-radius: 5px;
}

.pagination .button:first-child {
  margin-right: 8px;
}

.pagination .button:last-child {
  margin-left: 8px;
}

.pagination__item.disabled .button__icon {
  stroke: #ccc;
}

.button__icon {
  pointer-events: none;
  stroke: var(--primaryTextDark);
}

.pagination .active {
  width: 40px;
  height: 40px;
  background: var(--accentTextColor);
  border-radius: 5px;
  color: var(--primaryTextLight);
}
.pagination .hidden {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
