.search-form {
  margin: 0 auto;
  position: relative;
  @include tablet {
    width: 336px;
  }
  @include desktop {
    width: 394px;
  }
}
.search-form__input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
}
.search-form__input::placeholder {
  font-weight: 400;
  color: #ffffff;
}
.search-form__btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
}
.header__info {
  margin-top: 16px;
  color: #ff001b;
  text-align: center;
}
