.to-top-button {
  position: fixed;
  bottom: 40px;
  right: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    border-color: #ff6b08;
    fill: #000000;
  }

  &:hover .up-arrow {
    fill: #000000;
  }

  @include tablet {
    bottom: 100px;
    right: 60px;
    border: 3px solid #000000;
  }

  @include desktop {
    // bottom: 100px;
    right: 40px;
    border: 4px solid #000000;
  }
}

.up-arrow {
  fill: var(--secondaryTextColor);
}
