.to-top-button {
  position: fixed;
  bottom: 40px;
  right: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  background-color: var(--primaryLightThemeBgColor);
  border: 2px solid var(--primaryTextDark);
  border-radius: 50%;
  cursor: pointer;

  transition: transform var(--timingFunction), opacity var(--timingFunction),
    visibility var(--timingFunction), border-color var(--timingFunction),
    background-color var(--timingFunction);

  &:hover {
    border-color: #ff6b08;
    background-color: #fff;
  }

  &:hover .up-arrow {
    fill: #000000;
  }

  @include tablet {
    bottom: 100px;
    right: 60px;
    border: 3px solid var(--primaryTextDark);
  }

  @include desktop {
    // bottom: 100px;
    right: 40px;
    border: 4px solid var(--primaryTextDark);
  }
}

.up-arrow {
  fill: var(--secondaryTextColor);
}

.to-top-button.is-hidden {
  transform: translateY(200%);
}
