.footer {
  padding: 30px 30px;
  background-color: #f7f7f7;
  text-align: center;
  color: #545454;
}
.footer__text {
  @include tablet {
    display: inline-block;
  }
}
.footer__text:last-child {
  margin-top: 10px;
  @include tablet {
    margin-top: 0px;
  }
}
.footer__link {
  color: #ff6b01;
}
.icon-heart {
  animation: pulse 1500ms infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
