// .footer {
//   padding: 30px 30px;
//   background-color: #f7f7f7;
//   text-align: center;
//   color: #545454;
// }
// .footer__text {
//   @include tablet {
//     display: inline-block;
//   }
// }
// .footer__text:last-child {
//   margin-top: 10px;
//   @include tablet {
//     margin-top: 0px;
//   }
// }
// .footer__link {
//   color: #ff6b01;
// }
// .icon-heart {
//   animation: pulse 1500ms infinite;
// }
// @keyframes pulse {
//   0% {
//     transform: scale(1);
//   }
//   70% {
//     transform: scale(1.2);
//   }
//   100% {
//     transform: scale(1);
//   }
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.footer {
  background-color: var(--secondaryLightThemeBgColor);
}

.footer-container {
  //move to mixin
  // display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  //
  @include centrFlex;

  height: 100px;

  @include tablet {
    height: 79px;
    flex-direction: row;
  }

  @include desktop {
    height: 77px;
  }
}

.footer-text {
  font-style: normal;

  @include font(14px, 1.14, 400, 0);

  color: var(--secondaryTextColor);

  @include tablet {
    font-size: 16px;
    line-height: 1.33;
  }
}

.ft-part-one {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  @include tablet {
    margin-right: 3px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.ft-part-two {
  display: flex;
  @include tablet {
    align-items: center;
  }
}

.icon-heart {
  animation: spin 3000ms infinite;
  fill: var(--accentBtnColor);
}

.footer-link {
  text-decoration: underline;
  color: currentColor;
  &:hover {
    cursor: pointer;
  }
}
