@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&display=swap');
.gallery {
  padding-top: 20px;
  padding-bottom: 20px;

  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.gallery-container {
  @include flex(flex);
  flex-wrap: wrap;
  margin: -20px 0;
  //   @include mobile {
  //     margin-bottom: -20px;
  //   }

  @include tablet {
    // @include centrFlex(flex);
    margin: -16px -16px;
  }

  @include desktop {
    // @include flex(flex, start, flex-start);
    margin: -16px -8px;
  }
}
.gallery__info {
  font-family: 'Fira Sans Condensed', sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 2;
  color: var(--primaryTextDark);
}

.cat-gallery {
  background-image: url(../images/cat__1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 35vh;
}
